name: Push commit to schema registry

on:
  push:
    branches:
      - master

jobs:
  push_to_registry:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ github.token }}

      - name: Push to schema registry
        # uses: bufbuild/buf-push-action@v1
        # with:
        #   buf_token: ${{ secrets.BUF_TOKEN }}
        run: |
          export BUF_TOKEN=${{ secrets.BUF_TOKEN }}
          buf push --tag latest --tag ${{ github.sha }}
