name: "CI"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  lint:
    if: ${{ github.event_name != 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      - name: checkout source
        uses: actions/checkout@v3

      - name: run protolint
        uses: plexsystems/protolint-action@v0.2.0
        with:
          configDirectory: .

  release:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      - name: checkout source
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Cache python libs
        uses: actions/cache@v3
        id: cache-pip # needed in if test
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip

      - name: Upgrade python tools
        shell: bash
        run: |
          python -m pip install --upgrade pip

      - name: Get release version string
        run: echo "version=$(./scripts/buildinfo.py short)" >> $GITHUB_OUTPUT
        id: version

      - name: Create release
        uses: actions/create-release@v1
        id: create_release
        with:
          release_name: Meshtastic Protobufs ${{ steps.version.outputs.version }}
          tag_name: v${{ steps.version.outputs.version }}
          body: Protobufs for version ${{ steps.version.outputs.version }} release of Meshtastic firmware
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Bump version.properties
        run: >-
          scripts/bump_version.py

      - name: Create version.properties pull request
        uses: peter-evans/create-pull-request@v3
        with:
          add-paths: |
            version.properties
